

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to bottom, #f8b400, #f063a4);
    color: #fff;
}

header {
    background: rgba(0, 0, 0, 0.8);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../images/hero1.jpg') no-repeat center center/cover;
    text-align: center;
}

.hero-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 10px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-active {
    background-color: #ff5722;
}

.btn-signup {
    background-color: #00bcd4;
}


footer p{
    text-align: center;
}

